# Langchain Core
langchain
langchain-core 

#openAI Integration
langchain-openai 
openai 

#Anthropic Integration
langchain-anthropic
#google gemini
langchain-google-genai

#Hugging Face Integration

langchain-huggingface
transformers
huggingface-hub

#Machine learning utilites
numpy
scikit-learn


dotenv

# UI
streamlit